<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>自动化测试工具</title>
</head>


<style>
        .titleText{
            padding:20px 0px 10px 50px;
        }

        .linkText{
            padding: 0px 0px 10px 100px;;
        }

</style>

<body>
    <h1 class="titleText"> 自动化测试相关网址</h1>
     <div class="linkText">
        <a href="/xadmin/">后台网址</a></div>
    <div class="linkText">
        <a href="/case/">前台执行用例</a></div>
    <div class="linkText">
        <a href="/test/">前台执行组件</a></div>

</body>
</html>